.image-upload-container {
  text-align: left;
  margin-bottom: 10px;
}

.image-upload-inputform {
  display: flex;
}

.image-upload-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.image-upload-input {
  display: block;
  margin-bottom: 10px;
  margin-right: 10px;
}

.image-upload-button {
  padding: 6px 18px;
  height: 50px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.image-upload-button:hover {
  background-color: #0056b3;
}

.image-preview-container {
  margin: 10px 0;
  border: 1px solid #ddd;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}