.chatbot-panel {
  position: fixed;
  right: 30px;
  bottom: 80px;
  width: 320px;
  height: 430px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 6px 25px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 9999;
}

/* 헤더 */
.chat-header {
  background: #7b5cff;
  color: white;
  padding: 12px 16px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  border: none;
  background: transparent;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* 본문 */
.chat-body {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
  background: #fafafa;
}

/* 메시지 */
.chat-message {
  max-width: 80%;
  padding: 10px 14px;
  margin-bottom: 10px;
  border-radius: 12px;
  line-height: 1.4;
  font-size: 14px;
}

.chat-message.bot {
  background: #eeeeee;
  margin-right: auto;
}

.chat-message.me {
  background: #7b5cff;
  color: white;
  margin-left: auto;
  // text-align: end;
}

.chat-order-block {
  max-width: 80%;
  padding: 10px 14px;
  margin-bottom: 10px;
  border-radius: 12px;
  line-height: 1.4;
  font-size: 14px;
  background: #eeeeee;
  margin-right: auto;
}

.order-info {
  display: flex;
  flex-direction: column;
}

/* 입력창 */
.chat-input {
  display: flex;
  padding: 8px;
  border-top: 1px solid #ddd;
  background: #fff;
}

.chat-input input {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px;
  outline: none;
}

.chat-input button {
  margin-left: 8px;
  background: #7b5cff;
  color: white;
  border: none;
  padding: 0 14px;
  border-radius: 10px;
  cursor: pointer;
}

.order-img {
  width: 100px;
}

.order-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 2px 0px;
}

.order-info-detail {
  display: flex;
}

.order-info-left {
  width: 35%;
  font-weight: 450;
}

.order-info-right {
  width: 65%;
  font-size: 12.5px;
}

.order-top {
  display: flex;
  flex-direction: column;
}

.order-title {
  font-size: 16px;
  margin: 5px 0px;
  font-weight: 600;
}

.order-top-num {
  display: flex;
  justify-content: space-between;
  text-align: right;
  font-size: 12px;
  color: #aaa;
}

.order-top-num-left {
  width: 35%;
}

.order-top-num-right {
  font-size: 10px;
}