.product-filter {
    display: flex;
    padding-bottom: 24px;
    justify-content: right;
    list-style: none;

    .item{
        padding: 0 10px;
        cursor: pointer;
        font-size: 16px;
        border-right: 1px solid #ccc; // 구분선

        a {
            text-decoration: none;
            color: #333;
        }

        &.active {
            a {
                font-weight: bold;
                color: #333;
            }
        }

        &:last-child {
            border-right: none; // 마지막 요소는 선 제거
        }

        &:hover a {
            color: #000;
            font-weight: 600;
        }
    }
}